{% extends 'base.html' %} 
{% load static %}
{% block title %}
<title>Welcome</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4">
                <img src="{% static 'images/background.jpg'%}" alt="Background" width="360"height="250">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/background.jpg'%}" alt="Background" width="360"height="250">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/background.jpg'%}" alt="Background" width="360"height="250">
            </div>
            <div class="row mt-5">
                <div class="col-md-6 offset-md-3">
                    <p>Random text1</p>
                    <p>Random Text2</p>
                    <p>Random Text3</p>
                </div>
            </div>          
            
        </div>
{% endblock content %}
